<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://mysql15.hostmaster.sk/do784507db"/>
        <property name="username" value="do784500"/>
        <property name="password" value="glavoika"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="word2VecDatabaseListFactory"
          class="com.haikuMasterTrainingDataPostProcessor.word2vec.factories.Word2VecDatabaseListFactoryImpl"/>

    <bean id="word2VecTrainingDataRowFactory"
          class="com.haikuMasterTrainingDataPostProcessor.word2vec.factories.Word2VecTrainingDataRowFactoryImpl"/>

    <bean id="word2vecMerger" class="com.haikuMasterTrainingDataPostProcessor.word2vec.merger.Word2VecDataMergerImpl">
        <constructor-arg ref="word2VecTrainingDataRowFactory"/>
    </bean>

    <bean id="word2vecSorter" class="com.haikuMasterTrainingDataPostProcessor.word2vec.sorter.Word2VecDataSorterImpl"/>

    <bean id="trainingDataDatabaseAccessor"
          class="com.haikuMasterTrainingDataPostProcessor.database.TrainingDataDatabaseAccessorImpl">
        <constructor-arg ref="jdbcTemplate"/>
        <constructor-arg ref="word2VecDatabaseListFactory"/>
    </bean>


</beans>